.requestDiv {
    display: none;
    position: absolute;
    background-color:  bisque;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.show {
    display: block;
}

#myDropdown {
    color: bisque;
}
